__pycache__/
.env
venv/
Llama-3.2-3B-Instruct/
experiment_outputs/
llama_test.py
processed_notes_with_dates_and_disorders_imaging.csv
processed_notes_with_dates_and_disorders_notes.csv
processed_notes_with_dates_and_disorders_letters.csv
epic_imaging_reports.csv
epic_notes.csv
epic_letters.csv
synthetic.csv
